@model BankSystem.Models.login

@{
    ViewBag.Title = "Register";
}

<h2>Registration</h2>

@using (Html.BeginForm("Register", "Home", FormMethod.Post))
{
    <div class="container">
        <div class="row form-horizontal">
            <div class="form-group">
                <div class="col-md-3">@Html.Label("Name :")</div>
                <div class="col-md-5">
                    @Html.TextBoxFor(x => x.Name, new { @class = "form-control", autocomplete = "off" })
                    @Html.ValidationMessageFor(model => model.Name)
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">@Html.LabelFor(model => model.DOB)</div>
                <div class="col-md-5">
                    @Html.EditorFor(model => model.DOB, new { htmlAttributes = new { @class = "form-control", placeholder = "Date Of Birth", @readonly = "true" } })
                    @Html.ValidationMessageFor(model => model.DOB, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">@Html.Label("Phone :")</div>
                <div class="col-md-5">@Html.TextBoxFor(x => x.Phone, new { @class = "form-control", autocomplete = "off" })</div>
            </div>
            <div class="form-group">
                <div class="col-md-3">@Html.Label("Email :")</div>
                <div class="col-md-5">@Html.TextBoxFor(x => x.Email, new { @class = "form-control", autocomplete = "off" })</div>
            </div>
            <div class="form-group">
                <div class="col-md-3">@Html.Label("Address :")</div>
                <div class="col-md-5">@Html.TextBoxFor(x => x.Address, new { @class = "form-control", autocomplete = "off" })</div>
            </div>
            <div class="form-group">
                <div class="col-md-3">@Html.Label("Username :")</div>
                <div class="col-md-5">@Html.TextBoxFor(x => x.username, new { @class = "form-control", autocomplete = "off" })</div>
            </div>
            <div class="form-group">
                <div class="col-md-3">@Html.Label("Password :")</div>
                <div class="col-md-5">@Html.PasswordFor(x => x.password, new { @class = "form-control", autocomplete = "off" })</div>
            </div>
            <div class="form-group">
                <div class="col-md-3">@Html.Label("Branch :")</div>
                <div class="col-md-5">@Html.DropDownListFor(model => model.Branch, ViewBag.BranchList as SelectList, "Select Location", new { @class = "form-control" })</div>
            </div>
            <div class="form-group">
                <div class="col-md-3">@Html.Label("Account Type :")</div>
                <div class="col-md-5">
                    @Html.DropDownListFor(x => x.AccountType, new List<SelectListItem>
           {
               new SelectListItem{ Text = "Current", Value = "Current" },
               new SelectListItem{ Text = "Saving", Value = "Saving" },
           }, "Select Category", new { @class = "form-control col-md-5" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-1"><input type="submit" value="Register" class="btn btn-primary" /></div>
            <div class="col-md-3"><a href="@Url.Action("Index", "Home")" class="btn btn-default">Sign In</a></div>
        </div>
    </div>
</div>
}

@*Add jQuery Datepicker in MVC*@

@section Scripts {

    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/cssjqryUi")

    <script type="text/javascript">

        $(document).ready(function () {
            $('input[type=datetime]').datepicker({
                dateFormat: "dd/M/yy",
                changeMonth: true,
                changeYear: true,
                yearRange: "-60:+0"
            });

        });
    </script>
}


